'<!DOCTYPE html>
<html>
<body>
<h1>****************************************</h1>
<h1>WEBSITE</h1>
<h1>****************************************</h1>
<h2>Authorised personnel only</h2>
<h3>Servername: <%= @fqdn %></h3>
<h3>OS: <%= @osfamily %></h3>
<h3>Operating System Version: <%= @operatingsystemrelease %></h3>
<h3>IP address: <%= @ipaddress %></h3>
<h3>Pupper Version: <%= @puppetversion %></h3>
<h3>System Uptime: <%= @uptime %></h3>
<h3>Memory Size: <%= @memorysize %></h3>
<h3>Memory Free: <%= @memoryfree %></h3>
</body>
</html>
